.u-center-text {
    text-align: center !important;
}

.u-margin-bot-samll {
    margin-bottom: 1.5rem !important;
}

.u-margin-bot-medium {
    margin-bottom: 4rem !important;
}

.margin-bot-big {
    margin-bottom: 8rem !important;
}

.margin-top-big {
    margin-top: 8rem !important;
}

.margin-top-huge {
    margin-top: 10rem !important;
}